div {
  animation: animation1 5s;animation-fill-mode: forwards;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

div:hover{
  animation-play-state: paused;
}

@keyframes animation1 {
/*  from {left: 0px;} /* 0% */
/* to {left: 200px;} /* 100% */
0% {
  top:0%;
  left:30%;
}
25% {
  top:0%;
  left:30%;
}
50% {
  top:30%;
  left:30%;
}
75% {
  top:30%;
  left:0%;
}

100% {
  top:0%;
  left:0%;
}
}


h2{ 
  color: green;
  font-size: 50px;
  margin: 100px;
  animation-name: titre2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes titre2{
  from{
    transform: scaleY(1);
    transform: scaleX(2);
    transform-origin:0 0;
    bottom: 0px;
    }
  to{
    transform: scaleY(2);
    transform: scaleX(1);
    transform-origin:0 0;
    bottom: 100px;
  }
}


